* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #4c515c; /*main-color*/
    overflow: hidden;
}

/** header -> 34pxã€footer -> 20px */

.main-area {
    padding: 34px 0px 20px 0px;
    height: 100%;
}

.main-container {
    width: 100%;
    height: 100%;
}

.header_area {
    position: fixed;
    height: 34px;
    width: 100%;
    background-color: #636875;
}

.footer_area {
    position: fixed;
    height: 20px;
    width: 100%;
    bottom: 0px;
    background-color: #636875;
    color: #b2b9c4;
    font-size: 80%;
}